<div class="container">
  <h1>Angular 9 Component Examples</h1>

  <div class="example">
    <app-item></app-item>
  </div>
  <div class="example">
    <app-sales></app-sales>
  </div>
  <div class="example">
    <app-ng-onchanges-example></app-ng-onchanges-example>
  </div>
  <div class="example">
    <app-ng-oninit-example></app-ng-oninit-example>
  </div>
  <div class="example">
    <app-product-details></app-product-details>
  </div>
  <div class="example">
    <app-store></app-store>
  </div>
  <div class="example">
    <app-dynamic></app-dynamic>
  </div>
</div>


